body {
	font-family: "Roboto", sans-serif; 
	
}

.container-fluid {
	max-width: 1200px;
}

/*=========== COLORS =========*/

.blue {
	background-color: blue; 
	height: 500px;
}

.red {
	background-color: red;
	height: 300px;
}

.green {
	background-color: green;
	height: 600px;
}

.yellow {
	background-color: yellow;
	height: 800px;
}

.pink {
	background-color: pink;
	height: 30px;
}

/*======== NAV BAR HEADER & DROPDOWN =======*/

.navbar {
	border-bottom: 1px solid red;
	height: 65px;
}

.logo {
	width: 185px;
	position: relative;
	transition: all 0.3s ease;
}

.dropdown-menu {
	background-color: red;
	border-radius: 0;
	width: 210px;
	right: 10px;
	left: auto;
	margin-top: 20px;
	padding: 10px 35px 10px 35px;
	z-index: 1;
}


.dropdown-menu li {
	text-transform: uppercase;
	text-align: center;
	font-weight: 100;
	border-top: 1px solid #fff;
}

.dropdown-menu li:first-child {
	border-top: none;
}

.dropdown .dropdown-menu > li {
	width: 120px;
	padding: 10px;
}

.dropdown-header {
	background-color: #fff;
	color: red;
	font-weight: 700;
	font-size: 1.5rem;
}

nav .dropdown-menu a {
	color: #fff;
}

nav .dropdown-menu a:hover {
	background-color: #fff;
	color: red;
}

.navbar-header .glyphicon {
	font-size: 25px;
	color: red;
}

.navbar-toggle {
	margin-right: -15px;
}

.nav-toggle li {
	display: inline-block;
}

.hidden-responsive {
	display: none;
}

.login {
	position: absolute;
}


/*==== NAVBAR TOP======*/

	li.dropdown {
		position: relative;
		top: -22px;
		left: 7px;
		margin-right: 7px;
	}
	
	.try-newsweek  {
		display: none;
	}

/*=====FEATURED ARTICLE=======*/
	
	.featured img {
		width: 100%;

	}


@media only screen and (min-width: 380px) {
	
	.navbar-toggle {
		margin-right: 5px;
	}

	li.dropdown {
		margin-right: 10px;
	}
}

@media only screen and (min-width: 768px) {

	.navbar-header {
		width: inherit;
	}

	.logo {
		width: 214px;
	}

	.dropdown-menu {
		width: auto;
	}

}

@media only screen and (min-width: 992px) {

	.logo {
		top: 40px;
	}

	.navbar {
		height: 100px;
	}

	.top-bar {
		height: 28px;
		border-bottom: 3px solid red;
	}

	.navbar-links {
		position: relative;
		float: right !important;
		background-color: #fff;
		border: 0;
		top: 50px;
	}

	.navbar-nav > .dropdown-header,
	.dropdown-menu > .dropdown-header {
		display: none;
	}

	nav .navbar-links a {
		font-weight: 500;
		color: red;
		font-size: 1.3rem; 
		padding: 0 8%;
	}

	.dropdown-menu {
		right: 0;
		padding: 0;
	}

	/*======NAVBAR TOP=========*/

	.navbar-top {
		float: right;
	}

	.navbar-top ul {
		display: inline-block;
	}

	.hidden-responsive {
		display: inline-block;	
	}

	.nav-toggle-header > .glyphicon {
		font-size: 16px;
	}

	.nav-toggle-header > .glyphicon-triangle-right {
		font-size: 8px;
		top: -3px;
	}

	.nav-toggle {
		position: absolute;
		left: 40%;
		top: -1px;
	}

	.nav-toggle p {
		color: red;
	}

	li.dropdown {
		position: relative;
		top: 0;
		left: 0;
		right: 20px;
		margin-right: 10px;
	}

	.nav-toggle .dropdown-menu {
		z-index: 10000;
		width: 150px;
		text-align: center;
	}

	.dropdown > .dropdown-menu li {
		padding: 15px;
	}

	.dropdown > .dropdown-menu li:first-child {
		border-top: 0;
	}

	.nav-form {
		border: 0;
		border-bottom: 1px solid #ccc;
		color: #ccc;
		position: relative;
		top: -5px;
		left: -5px;
	}

	.try-newsweek {
		display: inline-block;
		background-color: red;
		position: relative;
		top: -5px;
		color: #fff;
		width: 150px;
		vertical-align: middle;
		padding: 0 10px 3px 10px;
	}

	.try-newsweek:before {
		content: "";
		position: absolute;
		left: -15px;	
		top: 1px;
		border-bottom: 32px inset transparent; 
		border-right: 15px solid red; 
	}

	.try-newsweek img {
		position: absolute;
		top: 3px;
		right: 0;
		height: 55px;
		-webkit-transform: rotate(15deg); 
		   -moz-transform: rotate(15deg); 
		    -ms-transform: rotate(15deg); 
		     -o-transform: rotate(15deg);
	}
}
@media only screen and (min-width: 1200px) {

	.logo {
		width: 100%;
		top: 15px;
	}

	nav .dropdown-menu a {
		padding: 0 8%;
	}
}

